.input {
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0.5rem 0.3125rem;
}

.input-container {
  position: relative;
  max-height: 40px;
}

.input__cancel-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  max-width: 25px;
}

.input__cancel-btn {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
}
